html {
    background-color: transparent;
    -webkit-app-region: drag;
}

@font-face {
  font-family: "Ruler Gold";
  font-smooth: never;
  -webkit-font-smoothing: none;
  src: url(assets/RulerGold.woff) format("woff");
}

body {
    font-family: "Ruler Gold", sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 0.1em;
    font-size: 64px;
}

small {
    font-size: 36px;
}

#info {
    font-size: 24px;
    padding-left: 3px;
    padding-bottom: 3px;
}

button {
    font-family: "Ruler Gold", sans-serif;
    background-color: rgb(28, 35, 65);
    color: #fefefe;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    padding: 1em 2em;
    cursor: pointer;
    -webkit-app-region:none;
}

div, html, body, * {
    box-sizing: border-box;
}

.content {
    border-top: 6px solid #3f3d5e;
    border-radius: 6px;
    background-color: #0f0e1b;
    color: #fafafa;
    padding: 2em 3em;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#closebtn {
    position: absolute;
    right: 0;
    top: 6px;
    padding: 4px 5px;
    padding-bottom: 1px;
    cursor: pointer;
    -webkit-app-region:none;
}

#closebtn:hover {
    background-color: red;
}

#closebtn svg {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

.head {
    flex-grow: 1;
}

.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2.5em;
}

.foot button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#progressbar {
    border: none;
    flex-grow: 1;
    height: 71px;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fefefe;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    border: 0;
    background-color: #fefefe;
}

progress::-webkit-progress-value {
    border: 0;
}

#launcherVersion {
    position: absolute;
    bottom: 5px;
    right: 8px;
    opacity: 0.5;
}